@import "./variables";

@mixin primaryText($transform: uppercase, $spacing: 1rem, $weight: 900) {
    text-transform: $transform;
    letter-spacing: $spacing;
    font-weight: $weight;
}

@mixin containerLists(){
    border-radius: $border-radius;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.702);
    filter: drop-shadow(5px 5px 5px rgba(114, 92, 2, 0.311));

}

@mixin verticalAlign ($inline-block: inline-block, $vertical-align: middle){
    display: $inline-block;
    vertical-align: $vertical-align;
}

@mixin respond($bp) {
  @media (max-width: map-get($grid-breakpoints, $bp)) {
    @content;
  }
}
