@import "./variables";

@mixin primaryText($transform: uppercase, $spacing: 1rem, $weight: 900) {
    text-transform: $transform;
    letter-spacing: $spacing;
    font-weight: $weight;
}

@mixin containerLists($padding: 20px, $radius: $border-radius, $margin: 20px){
    padding: $padding;
    border-radius: $border-radius;
    margin: $margin;
}

@mixin verticalAlign ($inline-block: inline-block, $vertical-align: middle){
    display: $inline-block;
    vertical-align: $vertical-align;
}

@mixin respond($bp) {
  @media (max-width: map-get($grid-breakpoints, $bp)) {
    @content;
  }
}
