$primary-BG-color: rgb(144, 206, 195);
$secondary-BG-color: rgb(240, 199, 34);
$primary-text-color: white;
$primary-bttn-color: rgb(140, 255, 249);
$secondary-bttn-color: rgb(99, 203, 198);
$color-done: green;

$border-radius: 25px;

/* Breakpoints for media queries */
$grid-breakpoints: (sm: 480px, md: 768px, lg: 800px);