$primary-BG-color: rgb(144, 206, 195);
$secondary-BG-color: rgb(240, 199, 34);
$accent-color: rgb(20, 84, 81);
$primary-text-color: white;
$primary-bttn-color: rgb(249, 123, 51);
$secondary-bttn-color: rgb(223, 102, 32);
$color-done: green;

$border-radius: 25px;

/* Breakpoints for media queries */
$grid-breakpoints: (sm: 480px, md: 768px, lg: 800px);