@import "./variables";
@import "./mixins";
body {
    background-color: $primary-BG-color;
    min-width: 320px;
    header {
        h1 {
            color: $primary-text-color;
            @include primaryText;
        }
    }
     main {
        h2 {
            color: $primary-text-color;
            padding:20px;
            @include primaryText($spacing: 0.2rem);
            text-align: center;
            background-color: rgb(20, 84, 81);
        } 
    }
    #contentMain {
        background-color: $secondary-BG-color;
        border-radius: $border-radius;
        width: 90%;
        margin: 20px;
        max-width: 600px;
        #todoForm {
            display: flex;
            justify-content: center;
            align-items: center;
            @include respond(sm){
                flex-direction: column;
            }
        }
        #todoLabel {
            color: $primary-text-color;
            @include primaryText($spacing: 0.2rem);
        }
        #todoInput {
            border: 1px solid $primary-BG-color;
            background-color: white;
            border-radius: $border-radius;
            padding: 10px;
            margin: 10px;
            color: $primary-BG-color;
        }
        #todoBttn {
            color: $primary-text-color;
            filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.237));
            border: none;
            padding: 15px;
            background-image: linear-gradient($primary-bttn-color, $secondary-bttn-color);
            &:hover {
                background-image: linear-gradient( $secondary-bttn-color, $primary-bttn-color);
            }
        }
        .containerTodos {
            color: $primary-text-color;
            
            #containerList {
                @include containerLists($padding:0);
                overflow: hidden;
                display: block;
                border: 1px solid rgba(255, 255, 255, 0.702);
                filter: drop-shadow(5px 5px 5px rgba(114, 92, 2, 0.311));
                &.hide {
                    display: none;
                }
            }
            ul{
                li{
                    min-width: 250px;
                    padding: 10px;
                    background-image: linear-gradient(to right, rgba(172, 227, 231, 0.858), rgba(255, 255, 255, 0.562));
                    border-top: 1px solid rgba(20, 84, 81, 0.146);
                    p{
                        font-size: 16px;
                        font-weight: 700;
                        @include verticalAlign;
                    }
                    input {
                        margin-left: 10px;
                        height: 20px;
                        width: 20px;
                        cursor: pointer;
                        @include verticalAlign;
                    }
                    .moveBttn {
                        cursor: pointer;
                        font-size: 25px;
                        color: rgb(20, 84, 81);
                        @include verticalAlign;
                        &:hover {
                            color: rgb(44, 125, 121);
                        }
                    }
                    .removeBttn {
                        height: 20px;
                        width: 20px;
                        margin-left: 10px;
                        cursor: pointer;
                        @include verticalAlign;
                    }
                }
            }
        }
        .containerFinished {
            @extend .containerTodos;
            @include containerLists($padding:0);
            overflow: hidden;
            display: none;
            border: 1px solid rgba(255, 255, 255, 0.702);
            filter: drop-shadow(5px 5px 5px rgba(114, 92, 2, 0.311));
            &.show {
                display: block;
            }
            input {
                accent-color: $color-done;
            } 
            h3 {
                @include primaryText($spacing: 0.2rem);
                color: $color-done;
                padding: 20px
            }
            p {
                text-decoration-color: rgb(243, 79, 79);
                text-decoration-thickness: 2px;
            }
            &.done {
                background-color: rgb(33, 198, 33);
            }
        }
    }
}



