@import "./variables";
@import "./mixins";
body {
    background-color: $primary-BG-color;
    header {
        h1 {
            color: $primary-text-color;
            @include primaryText;
        }
    }
    main {
        h2 {
            color: $primary-text-color;
            @include primaryText($spacing: 0.2rem);
        } 
    }
    #contentMain {
        background-color: $secondary-BG-color;
        width: 60%;
        border-radius: $border-radius;
            #todoLabel {
                color: $primary-text-color;
                @include primaryText($spacing: 0.2rem);
            }
            #todoInput {
                border: 1px solid $primary-BG-color;
                background-color: white;
                border-radius: $border-radius;
                padding: 10px;
                margin: 10px;
                color: $primary-BG-color;
            }
            #todoBttn {
                color: $primary-text-color;
                filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.237));
                border: none;
                padding: 15px;
                background-image: linear-gradient($primary-bttn-color, $secondary-bttn-color);
                &:hover {
                    background-image: linear-gradient( $secondary-bttn-color, $primary-bttn-color);
                    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.237));
                }
            }
        .containerTodos {
            min-width: 60%;
            color: $primary-text-color;
            #containerListEx {
                @include containerLists;
                &.hide {
                    display: none;
                }
            }

            ul{
                margin: 0 20px;
                li{
                    padding: 10px;
                    p {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    input {
                        margin-left: 10px;
                        height: 20px;
                        width: 20px;
                        cursor: pointer;
                        vertical-align: middle;
                    }
                    &::marker {
                        font-size: 1.5rem;
                        color: rgb(243, 79, 79);
                    }
                }
            }
            h3 {
                font-size: 1rem;
                font-weight: 900;
                margin-top: 20px;
                margin-left: 20px;
                color: rgba(255, 255, 255, 0.622);
            }
        }
        .containerFinished {
            @extend .containerTodos;
            @include containerLists;
            display: none;
            &.show {
                display: block;
            }
            &.green {
                background-color: rgb(51, 209, 51);
            }
            li{
                &::marker {
                    color: $color-done !important;
                }
            }
            input {
                accent-color: $color-done;
            } 
            h2 {
                color: $color-done;
            }
            p {
                text-decoration-color: rgb(243, 79, 79);
            }
            .youAreDone {
                color: $color-done;
                display: none;
                &.show{
                    display: block;
                }
            }
        }
        #containerListForm {
            @extend .containerTodos;
            @include containerLists;
            display: none;
            &.show {
                display: block;
            }
        }
    }
}
