body {
  background-color: rgb(144, 206, 195);
}
body header h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 900;
}
body main h2 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 900;
}
body #contentMain {
  background-color: rgb(240, 199, 34);
  width: 60%;
  border-radius: 25px;
}
body #contentMain #todoLabel {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 900;
}
body #contentMain #todoInput {
  border: 1px solid rgb(144, 206, 195);
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  color: rgb(144, 206, 195);
}
body #contentMain #todoBttn {
  color: white;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.237));
  border: none;
  padding: 15px;
  background-image: linear-gradient(rgb(140, 255, 249), rgb(99, 203, 198));
}
body #contentMain #todoBttn:hover {
  background-image: linear-gradient(rgb(99, 203, 198), rgb(140, 255, 249));
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.237));
}
body #contentMain .containerTodos, body #contentMain #containerListForm, body #contentMain .containerFinished {
  min-width: 60%;
  color: white;
}
body #contentMain .containerTodos #containerListEx, body #contentMain #containerListForm #containerListEx, body #contentMain .containerFinished #containerListEx {
  background-color: rgb(226, 181, 2);
  padding: 20px;
  border-radius: 25px;
  margin: 20px;
}
body #contentMain .containerTodos #containerListEx.hide, body #contentMain #containerListForm #containerListEx.hide, body #contentMain .containerFinished #containerListEx.hide {
  display: none;
}
body #contentMain .containerTodos .removeBttn, body #contentMain #containerListForm .removeBttn, body #contentMain .containerFinished .removeBttn {
  color: rgb(243, 79, 79);
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}
body #contentMain .containerTodos .li-content, body #contentMain #containerListForm .li-content, body #contentMain .containerFinished .li-content {
  display: inline-flex;
  align-items: center;
}
body #contentMain .containerTodos ul, body #contentMain #containerListForm ul, body #contentMain .containerFinished ul {
  margin: 0 20px;
}
body #contentMain .containerTodos ul li, body #contentMain #containerListForm ul li, body #contentMain .containerFinished ul li {
  padding: 10px;
}
body #contentMain .containerTodos ul li.hide, body #contentMain #containerListForm ul li.hide, body #contentMain .containerFinished ul li.hide {
  display: none;
}
body #contentMain .containerTodos ul li p, body #contentMain #containerListForm ul li p, body #contentMain .containerFinished ul li p {
  display: inline-block;
  vertical-align: middle;
}
body #contentMain .containerTodos ul li input, body #contentMain #containerListForm ul li input, body #contentMain .containerFinished ul li input {
  margin-left: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  vertical-align: middle;
}
body #contentMain .containerTodos ul li::marker, body #contentMain #containerListForm ul li::marker, body #contentMain .containerFinished ul li::marker {
  font-size: 1.5rem;
  color: rgb(243, 79, 79);
}
body #contentMain .containerTodos h3, body #contentMain #containerListForm h3, body #contentMain .containerFinished h3 {
  font-size: 1rem;
  font-weight: 900;
  margin-top: 20px;
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.622);
}
body #contentMain .containerFinished {
  background-color: rgb(226, 181, 2);
  padding: 20px;
  border-radius: 25px;
  margin: 20px;
  display: none;
}
body #contentMain .containerFinished.show {
  display: block;
}
body #contentMain .containerFinished.green {
  background-color: rgb(51, 209, 51);
}
body #contentMain .containerFinished li::marker {
  color: green !important;
}
body #contentMain .containerFinished input {
  accent-color: green;
}
body #contentMain .containerFinished h2 {
  color: green;
}
body #contentMain .containerFinished p {
  text-decoration-color: rgb(243, 79, 79);
}
body #contentMain .containerFinished .youAreDone {
  color: green;
  display: none;
}
body #contentMain .containerFinished .youAreDone.show {
  display: block;
}
body #contentMain #containerListForm {
  background-color: rgb(226, 181, 2);
  padding: 20px;
  border-radius: 25px;
  margin: 20px;
  display: none;
}
body #contentMain #containerListForm.show {
  display: block;
}
body #contentMain #containerExample {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #contentMain #containerExample .hideBttn {
  color: white;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.237));
  border: none;
  padding: 15px;
  background-color: transparent;
  cursor: pointer;
}/*# sourceMappingURL=global.css.map */