@import "./variables";
@import "./mixins";
body {
    background-color: $primary-BG-color;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrapper {
        width: 90%;
        max-width: 600px;
        background-color: $accent-color;
        margin: 20px; 
        border-radius: 25px;
        overflow: hidden;
        border: 1px solid  rgb(255, 255, 255);
        filter: drop-shadow(5px 5px 9px rgba(0, 0, 0, 0.126));
    }
    header {
        #containerHeader {
            width: 90%;
            max-width: 450px;
        }
        h1 {
            color: $primary-text-color;
            @include primaryText;
            padding: 20px;
            background-color: #f77a32;
            width: 100%;
            border-radius: 0 0 25px 0;
            border-bottom: 10px solid $secondary-BG-color;
            border-right: 10px solid $secondary-BG-color;
        }
    }
     main {
        h2 {
            color: $primary-text-color;
            padding:20px;
            @include primaryText($spacing: 0.2rem);
            text-align: center;
            background-color: $accent-color;
        } 
    }
    #contentMain {
        background-color: $secondary-BG-color;
        border-radius: $border-radius;
        width: 90%;
        margin: 20px;
        max-width: 600px;
        #todoForm {
            display: flex;
            justify-content: center;
            align-items: center;
            @include respond(md){
                flex-direction: column;
            }
        }
        #todoLabel {
            color: $primary-text-color;
            @include primaryText($spacing: 0.2rem);
        }
        #todoInput {
            border: 1px solid $primary-BG-color;
            background-color: white;
            border-radius: $border-radius;
            padding: 10px;
            margin: 10px;
            color: $primary-BG-color;
        }
        #todoBttn {
            color: $primary-text-color;
            filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.237));
            border: none;
            padding: 15px;
            background-image: linear-gradient($primary-bttn-color, $secondary-bttn-color);
            &:hover {
                background-image: linear-gradient( $secondary-bttn-color, $primary-bttn-color);
            }
        }
        .containerTodos {
            color: $primary-text-color;
            #containerList {
                @include containerLists;
                margin-top: 20px;
                display: block;
                background-image: linear-gradient(to right, rgba(172, 227, 231, 0.858), rgba(255, 255, 255, 0.562));
                &.hide {
                    display: none;
                }
            }
            ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-bottom: 10px;
                li{
                    padding: 10px;
                    border-top: 1px solid rgba(20, 84, 81, 0.146);
                    @include respond(sm) {
                        text-align: center;
                        max-width: 170px;
                    }
                    p{
                        font-size: 16px;
                        margin: 10px;
                        font-weight: 700;
                        @include verticalAlign;
                    }
                    input {
                        margin-left: 10px;
                        height: 20px;
                        width: 20px;
                        cursor: pointer;
                        @include verticalAlign;
                    }
                    .moveBttn {
                        cursor: pointer;
                        font-size: 25px;
                        color: $accent-color;
                        @include verticalAlign;
                        &:hover {
                            color: rgb(44, 125, 121);
                        }
                    }
                    .removeBttn {
                        height: 20px;
                        width: 20px;
                        margin-left: 10px;
                        cursor: pointer;
                        @include verticalAlign;
                    }
                }
            }
        }
        .containerFinished {
            @extend .containerTodos;
            @include containerLists;
            margin-top: 20px;
            background-image: linear-gradient(to right, rgba(172, 227, 231, 0.858), rgba(255, 255, 255, 0.562));
            display: none;
            &.show {
                display: block;
            }
            input {
                accent-color: $color-done;
            } 
            h3 {
                @include primaryText($spacing: 0.2rem);
                color: $color-done;
                padding: 20px
            }
            p {
                text-decoration-color: rgb(243, 79, 79);
                text-decoration-thickness: 2px;
            }
            &.done {
                background-color: rgb(33, 198, 33);
            }
        }
    }
}



