@import "./variables";
@import "./mixins";
body {
    background-color: $primary-BG-color;
    header {
        h1 {
            color: $primary-text-color;
            @include primaryText;
        }
    }
    main {
        h2 {
            color: $primary-text-color;
            @include primaryText($spacing: 0.2rem);
        } 
    }
    #contentMain {
        background-color: $secondary-BG-color;
        width: 60%;
        border-radius: $border-radius;
            #todoLabel {
                color: $primary-text-color;
                @include primaryText($spacing: 0.2rem);
            }
            #todoInput {
                border: 1px solid $primary-BG-color;
                background-color: white;
                border-radius: $border-radius;
                padding: 10px;
                margin: 10px;
                color: $primary-BG-color;
            }
            #todoBttn {
                color: $primary-text-color;
                filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.237));
                border: none;
                padding: 15px;
                background-image: linear-gradient($primary-bttn-color, $secondary-bttn-color);
                &:hover {
                    background-image: linear-gradient( $secondary-bttn-color, $primary-bttn-color);
                    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.237));
                }
            }
        .containerTodos {
            color: $primary-text-color;
            #containerList {
                @include containerLists;
                display: block;
                &.hide {
                    display: none;
                }
            }
            .removeBttn {
                color: rgb(243, 79, 79);
                font-weight: bold;
                margin-left: 10px;
                cursor: pointer;
            }
            ul{
                margin: 0 20px;
                li{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;
                    p{
                        font-size: 16px;
                        font-weight: 700;
                    }
                    input {
                        margin-left: 10px;
                        height: 20px;
                        width: 20px;
                        cursor: pointer;
                    }
                    .moveBttn {
                        cursor: pointer;
                        font-size: 25px;
                        color: darken($color: $secondary-BG-color, $amount: 25);
                    }
                }
            }
        }
        .containerFinished {
            @extend .containerTodos;
            @include containerLists;
            display: none;
          
            &.show {
                display: block;
            }
            input {
                accent-color: $color-done;
            } 
            h2 {
                color: $color-done;
            }
            h3 {
                @include primaryText($spacing: 0.2rem);
                color: $color-done;
            }
            p {
                text-decoration-color: rgb(243, 79, 79);
                text-decoration-thickness: 2px;
            }
            &.done {
                background-color: rgb(33, 198, 33);
            }
            .moveBttn {
                color: darken($color: $color-done, $amount: 5) !important;
            }
    }
}
}

